<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search | Youtube</title>
</head>
<body>

<h1>YOUTUBE SEARCH ENGINE</h1>

<form method="get" action="/youtube/search">
  <div style="margin-top: 50px">
    <label>Search query
      <input name="q" type="text">
    </label>
  </div>
  <div>
    <label>Number of expected results (up to 50)
      <input name="maxResults" type="text">
    </label>
  </div>
  <div style="margin-top: 25px">
    <button type="submit">Search</button>
  </div>

</form>


</body>
</html>