<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YouTube Response Page</title>
</head>
<body>
<header>
    <a href="/youtube/searchPage">
        Back
    </a>
</header>
<div>
    <table>
        <thead>
        <tr>
            <th>Channel name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="searchResult, i : ${resultList}">
            <td><span th:text="${searchResult.snippet.title}"> </span></td>
            <td><span th:text="${searchResult.snippet.description}"> </span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>