<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create account | MediaWiki </title>
</head>
<body>


<form method="post" action="/mediawiki/register" enctype="multipart/form-data">
  <div>
    <label for="username"> User name: </label>
    <input type="text" id="username"/>
  </div>

<div>
  <label for="password"> Password: </label>
  <input type="password"  id="password"/>
</div>

  <div>
    <label for="retype"> Password (confirm): </label>
    <input type="password" id="retype"/>
  </div>


  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

  <div style="align-content: center"><input type="submit" value="Sign Up"/></div>

</form>

</body>
</html>