<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="get" id="getByTitle">
        <label>Get Wikipedia page by title:
            <input name="title" th:type="text">
            <p><input name="contentType" type="radio" checked  value="html">html
            <input name="contentType" type="radio" value="pdf">pdf</p>
            <button type="submit">Get</button>
        </label>
    </form>
</div>
<div>

</div>
</body>
</html>