<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>project users list</title>
</head>

<body>
<header>
    <nav>
        <a href="/profile">PROFILE</a> |
        <a href="/users">USERS</a> |
        <a href="/projects">PROJECTS</a> |
        <div style="margin: -1% 0 0 93%; display: block;">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Sign Out</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </div>
    </nav>
</header>
<div>
<table>
    <thead>
    <tr>
        <th>user first name</th>
        <th>user second name</th>
        <th>user email</th>
        <!--<th>profile link</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersList}">
        <td><span th:text="${user.firstName}"> </span></td>
        <td><span th:text="${user.secondName}"> </span></td>
        <td><span th:text="${user.mail}"> </span></td>
        <!--<td><link></td>-->
    </tr>
    </tbody>
</table>
</div>
</body>
</html>