<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user in project</title>
    <nav>
        <a th:href="@{/projects/{projectId}/users(projectId=${projectId})}">USERS</a> |
        <a href="/projects">PROJECTS</a> |
        <a href="/projects/{projectId}/releases"
           th:href="@{/projects/{projectId}/releases(projectId=${projectId})}">RELEASES</a> |
        <a href="/projects/{projectId}/releases/{releaseId}/tasks"
           th:href="@{/projects/{projectId}/releases/{releaseId}/tasks(projectId=${projectId}, releaseId=${releaseId})}">TASKS</a>
        |
        <form th:action="@{/logout}" method="post">
            <button type="submit">Sign Out</button>
        </form>
    </nav>
</head>
<body>
<form th:method="post" th:action="@{/projects/{projectId}/users/(projectId = ${projectId})}">
    <div style="margin-top: 50px">
        <label>
            Username: <input type="text" name="userName"/> </label></div>
        </label>
    <label>Role
        <select name="formStatus">
            <option>DEVELOPER</option>
            <option>LEAD</option>
        </select>
    </label>
    </div>
    <button type="submit" style="margin-top: 10px;">Add</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>
</body>
</html>