<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project list</title>
    <style> table {
        border: 2px solid;
        border-collapse: separate;
        border-spacing: 7px 11px;
        table-border-color-dark: black;
    }
    </style>
</head>
<body>
<header>
    <nav>
        <a href="/users" th:href="@{/users}">USERS</a> |
        <a href="/projects" th:href="@{/users/{userName}/projects(userName=${userName})}">PROJECTS</a> |
        <a href="/tasks"
           th:href="@{/users/{userName}/projects/{projectId}/releases/{releaseId}/tasks(userName=${userName}, projectId=${projectId}, releaseId=${releaseId})}">TASKS</a>        |
    </nav>

</header>
<div style="text-align: right">
    <form method="post" action="/logout">
        <button type="submit">Log out</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<div style="text-align: center">
<form th:action="@{/projects/{projectId}/}" method="post">
    <button type="submit">Add new project</button>
</form>
</div>

<table align="center">

    <thead>
    <tr>
        <th>Project name</th>
        <th>Version release</th>
    </tr>
    </thead>
    <tbody th:each="project : ${userDto.projects}">
    <tr>
        <td th:text="${project.getTitle()}"></td>
        <td th:text="${project.getRelease()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>