<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KanbanBoard | Project page</title>
</head>
<body>
<h1 style="text-align: center">
    <a href="/" style="color: blue; ">KanbanBoard</a>
</h1>
<div style="text-align: right">
    <form method="post" action="/logout">
        <button type="submit">Log out</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<hr>
<h2>PROJECT PAGE</h2>
<hr>
<h3>
    <a th:href="@{/projects}">
        Back to project list
    </a>
</h3>
<h3>
    <a th:href="@{/projects/{projectId}/releases(projectId = ${projectId})}">
        View releases
    </a>
</h3>
<h3>
    <a th:href="@{/projects/{projectId}/users(projectId = ${projectId})}">
        View users
    </a>
</h3>
<div style="margin-top: 10px;">
    <b>Title: </b>
    <b th:text="${projectDto.getTitle()}"></b>
</div>
<div style="margin-top: 10px;">
    <b>Description: </b>
    <b th:text="${projectDto.getDescription()}"></b>
</div>
<div style="margin-top: 10px;">
    <b>Lead name: </b>
    <b th:text="${leadName}"></b>
</div>
<div style="margin-top: 10px;" th:if="${isLead}">
    <form th:action="@{/projects/{projectId}/edit(projectId=${projectDto.getId()})}" method="get">
        <button type="submit">Edit project</button>
    </form>
</div>
<div style="margin-top: 10px;" th:if="${isLead}">
    <form th:action="@{/projects/{projectId}(projectId=${projectDto.getId()})}" th:method="delete">
        <button type="submit">Delete project</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
</body>
</html>