<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project list</title>
    <style> table {
        border: 2px solid;
        border-collapse: separate;
        border-spacing: 7px 11px;
        table-border-color-dark: black;
    }
    </style>
</head>
<body>
<div style="text-align: right">
    <form method="post" action="/logout">
        <button type="submit">Log out</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<div style="text-align: center">
<form th:action="@{/projects/{projectId}/}" method="post">
    <button type="submit">Add new project</button>
</form>
</div>

<table align="center">
    <thead>
    <tr>
        <th>Project name</th>
        <th>Version release</th>
    </tr>
    </thead>
    <tbody th:each="project : ${projectList}">
        <a th:href="@{/projects}">
                <p><span th:text="${project.getProject().getTitle()}"></span></p>
                <p>
                </p>
        </a>
    </td>
    </tbody>
</table>
</body>
</html>